
<div class="center jumbotron">
  <h1>Welcome to the Clock+</h1>
  
  <h2>
  This is the home page for the  Clock+.
  </h2>
  

  
  
  <div class = "author">
    <h2> About Author</h2>
    <p>Clock+</p>
    <p>Student Name: Dawaname Dawaname</p>
    <p>Student Number: s3652553</p>
    <p>Email: -s3652553@student.rmit.edu.au-</p>
    <p>attempt pass level</p>
    <p>Tutorial Group: Thursday 7:30pm Group </p>
  </div>
  
  
 
  <h2>multiple time: </h2>


<table>
  
  
  <tr>
    <th>Melbourne</th>
    <td>time: <span id="Melbourne_z609"></span></td>
    <td><span>Local time </span></td>
    <td>Mode: Business Time</td>
  </tr>
  
   <tr>
    <th>New York</th>
    <td> time: <span id="New_York_z161"></span></td>
    <td><span>difference in time: -14 hour</span> </td>
    <td>Mode: Business Time</td>
  </tr>
  
   <tr>
    <th>Tokyo </th>
    <td>time: <span id="Tokyo_z444"></span> </td>
    <td><span>difference in time: -1 hour</span> </td>
    <td>Mode: Business Time</td>
  </tr>
  
</table>


<script src="//widget.time.is/zh.js"></script>
<script>
time_is_widget.init({
// 	UTC_za00 : {},
  Melbourne_z609:{},
	New_York_z161 : {
		// template: "SUN",
		// sun_format: "srhour:srminute",
		// coords: "40.71427,-74.00597"
		},
	Tokyo_z444 : {
		// coords: "59.33258,18.06490"
		}
	});
</script>


</div>