
<div class="center jumbotron">
  <h1>Welcome to the Clock+</h1>
  
  <h2>
  This is the home page for the  Clock+.
  </h2>
  
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
  <h1>......................................................</h1>
</div>