@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: rgb(31, 94, 96);

}

section {
  overflow: auto;

}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: #7A9797;

}

.center h1 {
  margin-bottom: 10px;
}

// not working:
.center .author {
  align: center;
  text-align: left;
}

.center h2 {
  color: #D0D3D3;
}


.author {
  align: center; // margin: 15em;
}


/* home table*/

.center table {
  border-collapse: collapse;
  border: 3px #A4ADAD solid;
  width: 100%;
}

.center th {
  // background-color: #4F9496;
  color: BLACK;
}

.center th,
.center td {
  text-align: left;
  padding: 8px;
}

.center tr:nth-child(even) {
  background-color: #D0D3D3;
}



/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



/* footer */

footer {
  margin: 45px;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: #D0D3D3;
}

footer a,
footer a:visited {
  color: #D0D3D3;
  decoration: none;
}

footer a:hover,
footer a:active {
  color: white;
}

footer small {
  float: left;
}

footer table,
footer td,
fotter tr {
  float: right;
  list-style: none;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


fotter small {
  position: absolute;
}
