<footer class="footer">
  <small>
  <!--The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>-->
  <!--by <a href="http://www.michaelhartl.com/">Michael Hartl</a>-->
  
    <p>Clock+</p>
    <p>Student Name: Dawaname Dawaname</p>
    <p>Student Number: s3652553</p>
    <p>Email: -s3652553@student.rmit.edu.au-</p>
    <p>attempt pass level</p>
    <p>Tutorial Group: Thursday 7:30pm Group </p>
  </small>
  
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/groups/CuteAnimalVideos/">Facebook</a></li>
      <li><a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></li>
      <li><a href="https://www.linkedin.com/learning/me?u=2104756">LinkedIn</a></li>
    </ul>
  </nav>
</footer>